.main {

    &__google-greeting {
        margin: 140px 0px 0px 0px;
    }

    &__form {
        margin: 30px 0px;
    }

    &__group-button {
        display: flex;

        * {
            margin: 0px 0px 0px 10px;

            &:first-child {
                margin: 0px;
            }
        }
    }
}

.google-greeting {
    width: 272px;

    img {
        width: 100%;
        height: auto;
    }
}

.form {
    width: 30%;
    min-width: 300px;
    margin: 30px auto;

    &__search {
        padding: 10px 15px 10px 44px;
        box-shadow: 0px 0px 1px 1px #dfe1e5;
        font-size: 16px;
        border-radius: 20px;
        //width: 484px;
        width: 100%;
        background: url('../img/input-search.png') no-repeat 15px center;
        background-size: 14px 14px;

        &:hover {
            box-shadow: 0px 0px 10px 1px #dfe1e5;
        }
    }
}
.g-homepage-btn {
    display: inline-block;
    color: #202124;
    background-color: #f8f9fa;
    height: 34px;
    min-width: 34px;
    padding: 0px 16px;
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5);
    }
}
