@import "./_reset";

/* main style */

.wrapper {
    height: 100vh;
    overflow: hidden;
    font-family: arial,sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &__nav {
        height: 30px;
    }
}
.main {
    flex: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------ */

@import './nav';

@import './main';

@import './footer';

@import './modal';

/* modal control */
.apps-hover-btn,
.img-hover-btn {
    position: relative;
    z-index: 99;
}

.apps-hover-btn:hover ~ .modal-wrapper--apps,
.img-hover-btn:hover ~ .modal-wrapper--account,
.modal-wrapper:hover {
    display: block;
}
/* ---------- */